@model Shop.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OutPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OutPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductBrandNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductBrandNavigation.Tilte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductColorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductColorNavigation.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductSizeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductSizeNavigation.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTypeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductTypeNavigation.Tilte)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
